body {
    background: #5B606B url("../images/bg.jpg");
    color: white;
    font-size: 27px;
    margin: 5px 0px 0px 0px;
    opacity: 0.9;
    text-align: center;
}
.input {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #DDD inset;
    font-size: 20px;
    margin-bottom: 5px;
    min-height: 36px;
    min-width: 800px;
}